* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0;
  margin: auto;
  position: relative;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.04);
}

